.lmj-cart {
	width: 200px;
	color: white;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #31b572;
}

.lmj-cart-add-button {
  cursor: pointer;
	margin-left: 32px;
}

.lmj-cart-toggle-button {
	padding: 0;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	background: none;
	font-weight: 600;
	align-self: self-start;
}

.lmj-cart-closed {
  width: 200px;
	padding: 32px;
}

.lmj-cart-closed > button {
	color: black;
}