.lmj-shopping-list {
  width: 100%;
}

.lmj-plant-list {
  padding: 32px;
	display: flex;
	flex-wrap: wrap;
  list-style-type: none;
	justify-content: center;
}

/* .lmj-plant-item {
  width: 150px;
  margin: 10px;
  display: flex;
  height: 150px;
  position: relative;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  border: solid 2px black;
}

.lmj-sales {
  top: 10px;
  right: 0px;
  color: white;
  font-weight: 500;
  padding: 5px 10px;
  position: absolute;
  background-color: #31b572;
} */
